<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="MyFirstApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
        <script src="controller.js"></script>
    </head>
    <body ng-controller="FirstController">
        
        
        <h3>comentarioas</h3>
        <input type="text" ng-model="nuevoComentario.comentario"/>
               <input type="text" ng-model="nuevoComentario.username"/>
 <input type="text" ng-model="nuevoComentario.variable"/>
        <button ng-click="agregarComentario()"> agregar comentario</button>
        <ul>
            <li ng-repeat="comentario in comentarios">
            {{comentario.comentario}} - {{comentario.username}} - {{comentario.variable}} 
            </li>
        </ul>

    </body>
</html>
